* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #39A6B2;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
}

/* header */
/* the color property for header h1 did nothing so i removed it; header a handles it all */

header {
    background: #39A6B2;
    padding: 20px 35px;
}

header h1 {
    display: inline;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    color: #FCE138;
    text-decoration: none;
}

/* nav */

nav {
    float: right;
    margin: 7px 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* footer */

footer {
    background: #FCE138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #024E76;
    font-size: 30px;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024E76;
}

/* sections */

section {
    padding: 60px;
}

section h2 {
    display: inline-block;
    color: #024E76;
    font-size: 55px;
    padding: 0 100px 20px 100px;
    margin-bottom: 35px;
    border-bottom: 3px solid;
}

.primary-border {
    border-color: #FCE138
}

.secondary-border {
    border-color: #39A6B2;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* hero */

.hero {
    background: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
}

.hero-form {
    background: #FCE138;
    color: #024E76;
    width: 500px;
    padding: 20px;
    border: 3px solid #024E76;
    position: absolute;
    bottom: 120px; right: 140px;
}

.hero-form h3 {
    font-size: 26px;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 15px;
    border: 2px solid #024E76;
    font-size: 16px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    background: #024E76;
    color: #FCE138;
    padding: 12px 30px;
    border: 0;
    font-size: 16px;
}

/* what we do */

.intro {
    text-align: center;
}

.intro p {
    color: #39A6B2;
    display: block;
    margin: auto;
    width: 80%;
    font-size: 20px;
    line-height: 1.7;
}

/* what you do */

.steps {
    background: #FCE138;
    text-align: center;
}

.steps div {
    margin-bottom: 80px;
}

.steps img {
    width: 15%;
    margin: 10px 0;
}

.steps h3 {
    color: #024E76;
    font-size: 38px;
    margin-top: 10px;
}

.steps p {
    color: #39A6B2;
    font-size: 23px;
}

.steps span {
    font-size: 46px;
}

/* trainers */

.trainers {
    text-align: center;
}

.trainer {
    background: #024E76;
    color: #FCE138;
    display: flow-root;
    width: 900px;
    margin: 0 auto 30px auto;
}

.trainer img {
    width: 35%;
    float: left;
}

.trainer div {
    width: 65%;
    padding: 35px;
    float: left;
}

.trainer h3 {
    font-size: 32px;
    margin-bottom: 8px;
}

.trainer h4 {
    font-size: 26px;
    font-weight: lighter;
    margin-bottom: 25px;
}

.trainer p {
    font-size: 17px;
    line-height: 1.3;
}