* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #39A6B2;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
}


/* SECTIONS GENERAL STYLES */

section {
    padding: 60px;
}

section h2 {
    display: inline-block;
    color: #024E76;
    font-size: 55px;
    padding: 0 100px 20px 100px;
    margin-bottom: 35px;
    border-bottom: 3px solid;
}

.yellow-border {
    border-color: #FCE138
}

.cyan-border {
    border-color: #39A6B2;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.blue-bg {
    background: #024E76;
}

.yellow-bg {
    background: #FCE138;
}


/* HEADER */

header {
    display: flex; flex-flow: row wrap;
    justify-content: space-between;
    background: #39A6B2;
    padding: 20px 35px;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

header a {
    color: #FCE138;
    text-decoration: none;
}

/* nav */

nav {
    margin: 7px 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}


/* FOOTER */

footer {
    background: #FCE138;
    width: 100%;
    padding: 40px 35px;
}

footer h2 {
    display: inline;
    color: #024E76;
    font-size: 30px;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024E76;
}


/* HERO */

.hero {
    background: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 600px;
    position: relative;
}

.hero-form {
    color: #024E76;
    width: 500px;
    padding: 20px;
    border: 3px solid #024E76;
    position: absolute;
    bottom: 120px; right: 140px;
}

.hero-form h3 {
    font-size: 26px;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 15px;
    border: 2px solid #024E76;
    font-size: 16px;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    color: #FCE138;
    padding: 12px 30px;
    border: 0;
    font-size: 16px;
}


/* WHAT WE DO */

.intro {
    text-align: center;
}

.intro p {
    color: #39A6B2;
    display: block;
    margin: auto;
    width: 80%;
    font-size: 20px;
    line-height: 1.7;
}


/* WHAT YOU DO */

.steps {
    text-align: center;
}

.steps div {
    margin-bottom: 80px;
}

.steps img {
    width: 15%;
    margin: 10px 0;
}

.steps h3 {
    color: #024E76;
    font-size: 38px;
    margin-top: 10px;
}

.steps p {
    color: #39A6B2;
    font-size: 23px;
}

.steps span {
    font-size: 46px;
}


/* TRAINERS */

.trainers {
    text-align: center;
}

.trainer {
    background: #024E76;
    color: #FCE138;
    display: flow-root;
    width: 900px;
    margin: 0 auto 30px auto;
}

.trainer img {
    width: 35%;
    float: left;
}

.trainer div {
    width: 65%;
    padding: 35px;
    float: left;
}

.trainer h3 {
    font-size: 32px;
    margin-bottom: 8px;
}

.trainer h4 {
    font-size: 26px;
    font-weight: lighter;
    margin-bottom: 25px;
}

.trainer p {
    font-size: 17px;
    line-height: 1.3;
}


/* REACH OUT */

.contact {
    text-align: center;
}

.contact h2, .contact h3, .contact a {
    color: #FCE138;
}

.contact-info iframe {
    width: 400px; height: 400px;
}

.contact-info div {
    display: inline-block;
    width: 410px;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px;
    color: white;
}

.contact-info h3 {
    font-size: 32px;
}

.contact-info p, .contact-info address {
    line-height: 1.5;
    font-size: 20px;
    font-style: normal;
    margin: 20px 0;
}